@model ClassLibrary.Value;
@*@{
        ViewData["Title"] = "Checkout";
    }*@
@{
    var cart = Model.CartSummary;

}

<h2>Checkout</h2>

<html>
<body>
    <div id="content">

        <h1>Shopping Cart</h1>
        <table border="1" width="100%">

                <tr>
                    <th>ID</th>
                    <th>Event</th>
                    <th>Venue</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Delete Ticket</th>
                </tr>
                @for (int i = 0; i < cart.Count; i++)
                {
                    <tr>
                        <td>@cart[i].TicketEventDateID</td>
                        <td>@cart[i].EventName</td>
                        <td>@cart[i].VenueName</td>
                        <td>@cart[i].EventHtmlDescription</td>
                        <td>@cart[i].EventStartDateTime</td>
                        <td><a href="/Checkout/DeleteTicketFromCart?eventID=@i">Delete ticket</a></td>
                    </tr>
                }
      
        </table>

        <td><button id="1" style="width:100%" onclick="location.href='@Url.Action("Tickets", "Tickets")'" value="2" name="" type="submit">Continue Shopping</button></td>
@using (Html.BeginForm("GoToPayment", "Checkout"))
{
    
    <td><button id="@Model.CartSummary" style="width:100%" value="2" name="cart" type="submit">Go To Payment</button></td>

}
        @*<td><button id="2" style="width:100%" onclick="location.href='@Url.Action("gotopayment", "checkout")'" value="2" name="cart" type="submit">Go To Payment</button></td>*@
        @*<td><input type="button" name="answer" value="Go To Payment" style="width:100% " onclick="showDiv()"></td>*@
    </div>


    @*<script language="javascript">
        function showDiv() {
            document.getElementById('welcomeDiv').style.display = "block";

            <div id="welcomeDiv" style="display:none;" class="answer_list">*@
    @*}
        </script>*@
    <div id="customerInfo">
    <h3>Customer Information</h3>
    <hr />

    @using (Html.BeginForm("GoToPayment", "Checkout", FormMethod.Post))
    {
        @Html.LabelFor(m => m.TicketByuer.BuyerFirstName, "Firstname")<br />
            @Html.TextBoxFor(m => m.TicketByuer.BuyerFirstName)<br />
            @Html.LabelFor(m => m.TicketByuer.BuyerLastName, "Lastname")<br />
            @Html.TextBoxFor(m => m.TicketByuer.BuyerLastName)<br />
            @Html.LabelFor(m => m.TicketByuer.BuyerAddress, "Address")<br />
            @Html.TextBoxFor(m => m.TicketByuer.BuyerAddress)<br />
            @Html.LabelFor(m => m.TicketByuer.BuyerCity, "City")<br />
            @Html.TextBoxFor(m => m.TicketByuer.BuyerCity)<br />

            <input type="submit" id="@Model.CartSummary" style="background-color:dodgerblue" />
    }
    </div>


</body>
</html>