@model ClassLibrary.Value;
@*@{
        ViewData["Title"] = "Checkout";
    }*@
@{
    var cart = Model.CartSummary;

}

<div id="content">

    <h1>Shopping Cart</h1>
    <table id="shoppingCartTable" width="100%">

        <tr>
            <th>Event</th>
            <th>Venue</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
        </tr>
        @for (int i = 0; i < cart.Count; i++)
        {
            <tr>
                <td>@cart[i].EventName</td>
                <td>@cart[i].EventHtmlDescription</td>
                <td>@cart[i].VenueName</td>
                <td>@cart[i].EventStartDateTime</td>
                <td id="deleteCell"><a href="/Checkout/DeleteTicketFromCart?eventID=@i" id="deleteBtn">Remove</a></td>
            </tr>
        }

    </table>
    <div id="cartButtons">
        <button style="width:100%" onclick="location.href='@Url.Action("Tickets", "Tickets")'" type="submit">Continue Shopping</button>

        <button id="@Model.CartSummary" onclick="dropDown()" style="width:100%" value="2" name="cart" type="submit">Go To Payment</button>
    </div>


    <div id="customerInfo" style="display:none">
        <hr />
        <h3>Customer Information</h3>
        <hr />

        @using (Html.BeginForm("EditEvents", "Events", FormMethod.Post))
        {
            @Html.LabelFor(m => m.TicketByuer.BuyerFirstName, "Firstname")<br />
            @Html.TextBoxFor(m => m.TicketByuer.BuyerFirstName)<br />
            @Html.LabelFor(m => m.TicketByuer.BuyerLastName, "Lastname")<br />
            @Html.TextBoxFor(m => m.TicketByuer.BuyerLastName)<br />
            @Html.LabelFor(m => m.TicketByuer.BuyerAddress, "Address")<br />
            @Html.TextBoxFor(m => m.TicketByuer.BuyerAddress)<br />
            @Html.LabelFor(m => m.TicketByuer.BuyerCity, "City")<br />
            @Html.TextBoxFor(m => m.TicketByuer.BuyerCity)<br />
            <input type="submit" style="background-color:dodgerblue" />
        }
    </div>

</div>

@section Scripts
    {
    <script>
        function dropDown() {
            var x = document.getElementById("customerInfo");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
}