@model ClassLibrary.Value;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


@{
        ViewData["Title"] = Localizer["Checkout"];
    }
@{
    var cart = Model.CartSummary;

}

<div id="content">

    <h1 style="font-family: 'Agency FB'">@Localizer["ShoppingCart"]</h1>
    <hr />
    <div id="tableDiv" style="display:block">
        <table id="shoppingCartTable">

            <tr>
                <th>@Localizer["Event"]</th>
                <th>@Localizer["Venue"]</th>
                <th>@Localizer["Description"]</th>
                <th>@Localizer["Date"]</th>
                <th>@Localizer["RemoveTicket"]</th>
            </tr>
            @for (int i = 0; i < cart.Count; i++)
        {
            <tr>
                <td>@cart[i].EventName</td>
                <td>@cart[i].EventHtmlDescription</td>
                <td>@cart[i].VenueName</td>
                <td>@cart[i].EventStartDateTime</td>
                <td id="btnTD"><a href="/Checkout/DeleteTicketFromCart?eventID=@i" id="deleteBtn">@Localizer["Remove"]</a></td>
            </tr>
    }

        </table>
    </div>
    <div id="cartButtons">
        <button class="checkOutBtn"  onclick="location.href='@Url.Action("Tickets", "Tickets")'" type="submit">@Localizer["ContinueShopping"]</button>

        <button class="checkOutBtn" id="@Model.CartSummary" onclick="dropDown()" value="2" name="cart" type="submit">@Localizer["GoToShipping"]</button>
    </div>

    <div id="pic"><img src="~/images/jammy.png" /></div>
    <div id="customerInfo" style="display:none">
        <hr />
        <h3>@Localizer["CustomerInformation"]</h3>
        <hr />

        @using (Html.BeginForm("GoToPayment", "Checkout", FormMethod.Post))
        {
            @Html.LabelFor(m => m.TicketBuyer.BuyerFirstName, "Firstname")<br />
            @Html.TextBoxFor(m => m.TicketBuyer.BuyerFirstName, new { type = "text", placeholder = "jammy", @required = true })<br />
            @Html.LabelFor(m => m.TicketBuyer.BuyerLastName, "Lastname")<br />
            @Html.TextBoxFor(m => m.TicketBuyer.BuyerLastName, new { type = "text", placeholder = "svensson", @required = true })<br />
            @Html.LabelFor(m => m.TicketBuyer.BuyerEmail, "Email")<br />
            @Html.TextBoxFor(m => m.TicketBuyer.BuyerEmail, new { type = "email", placeholder = "jam.svensson@jam.se", @required = true })<br />
            @Html.LabelFor(m => m.TicketBuyer.BuyerAddress, "Address")<br />
            @Html.TextBoxFor(m => m.TicketBuyer.BuyerAddress, new { type = "text", placeholder = "Jam Street 1337", @required = true })<br />
            @Html.LabelFor(m => m.TicketBuyer.BuyerCity, "City")<br />
            @Html.TextBoxFor(m => m.TicketBuyer.BuyerCity, new { type = "text", placeholder = "Gothenburg", @required = true })<br />
            <input type="submit" style="background-color:dodgerblue"  />  @*value=@Localizer["Payment"]*@
        }
    </div>

</div>

@section Scripts
    {
    <script>
        function dropDown() {
            var x = document.getElementById("customerInfo");
            var y = document.getElementById("tableDiv");
            var image = document.getElementById("pic");
            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "none";
                image.style.display = "none";
            } else {
                x.style.display = "none";
            }
        }
    </script>
}