@{
    ViewData["Title"] = Localizer["AddEvents"];
}

@model ClassLibrary.Value;
@using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer


<h1>@ViewBag.Message</h1>
<div id="content">
    <button>@Localizer["AddEvent"]</button>
    <button onclick="location.href='@Url.Action("EditEvents", "Events")'">@Localizer["EditEvent"]</button>
    <button onclick="location.href='@Url.Action("DeleteEvents", "Events")'">@Localizer["DeleteEvent"]</button>

    <div class="venueDiv" id="addVenue" style="display:block">
        <hr />
        <h3>@Localizer["AddEvent"]</h3>
        <hr />
        @using (Html.BeginForm("AddEvents", "Events", FormMethod.Post))
        {
            @Html.LabelFor(m => m.TicketEvent.EventName, "EventName")<br />
            @Html.TextBoxFor(m => m.TicketEvent.EventName, new { @required = true })<br />
            @Html.LabelFor(m => m.TicketEvent.EventHtmlDescription, "Description")<br />
            @Html.TextBoxFor(m => m.TicketEvent.EventHtmlDescription, new { @required = true })<br />
            <input type="submit" value=@Localizer["Add"] />
            <hr />
        }

        @ViewBag.StatusMessage
    </div>
</div>