@{
    ViewData["Title"] = "DeleteEvents";
}

@model ClassLibrary.Value;
@*@using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer*@


<h1>@ViewBag.Message</h1>
<div id="content">
    <button>Add Event</button>
    <button onclick="location.href='@Url.Action("EditEvents", "Events")'">Edit Event</button>
    <button onclick="location.href='@Url.Action("DeleteEvents", "Events")'">Delete Event</button>

    <div class="venueDiv" id="addVenue" style="display:block">
        <hr />
        <h3>Add Event</h3>
        <hr />
        @using (Html.BeginForm("AddEvents", "Events", FormMethod.Post))
        {

            @Html.LabelFor(m => m.TicketEvent.EventName, "EventName")<br />
            @Html.TextBoxFor(m => m.TicketEvent.EventName, new { @required = true })<br />
            @Html.LabelFor(m => m.TicketEvent.EventHtmlDescription, "Description")<br />
            @Html.TextBoxFor(m => m.TicketEvent.EventHtmlDescription, new { @required = true })<br />

            <input type="submit" value="Add" />
            <hr />
        }

        @ViewBag.StatusMessage
    </div>
</div>



@section Scripts
    {
    <script>
        function edit() {
            var edit = document.getElementById("editVenue");
            var add = document.getElementById("addVenue");
            var del = document.getElementById("deleteVenue");

            if (edit.style.display === "none") {
                edit.style.display = "block";
                add.style.display = "none";
                del.style.display = "none";
            }

        }
        function add() {
            var add = document.getElementById("addVenue");
            var edit = document.getElementById("editVenue");
            var del = document.getElementById("deleteVenue");

            if (add.style.display === "none") {
                add.style.display = "block";
                edit.style.display = "none";
                del.style.display = "none";
            }

        }
        function del() {
            var del = document.getElementById("deleteVenue");
            var add = document.getElementById("addVenue");
            var edit = document.getElementById("editVenue");

            if (del.style.display === "none") {
                del.style.display = "block";
                add.style.display = "none";
                edit.style.display = "none";
            }

        }

        function dropdown(value) {
            window.location.href = "/Venues/DropDownChanged?id=" + value;
        }
    </script>
}