@{
    ViewData["Title"] = Localizer["DeleteEvents"];
}

@model ClassLibrary.Value;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


<h1>@ViewBag.Message</h1>
<div id="content">
    <button onclick="location.href='@Url.Action("AddEvents", "Events")'">@Localizer["AddEvent"]</button>
    <button onclick="location.href='@Url.Action("EditEvents", "Events")'">@Localizer["EditEvent"]</button>
    <button>@Localizer["DeleteEvent"]</button>
    <div class="venueDiv" id="addVenue" style="display:block">
        <hr />
        <h3>@Localizer["DeleteEvents"]</h3>
        <hr />
        @using (Html.BeginForm("DeleteEvents", "Events", FormMethod.Post))
        {
            @Html.DropDownList(
                                            "id",
                                            new SelectList(Model.Events.Select(x => new { Value = x.TicketEventId, Text = x.EventName }),
                                            "Value",
                                            "Text"))

            <input type="submit" value=@Localizer["Delete"] style="background-color:red" value=@Localizer["Delete"] />
        }
    </div>
</div>