@{
    ViewData["Title"] = "AddVenues";
}

@model ClassLibrary.Value;


<h1>@ViewBag.Message</h1>
<div id="content">
    <button>Add Venue</button>
    <button type="button" onclick="location.href='@Url.Action("EditVenues", "Venues")'">Edit Venue</button>
    <button onclick="location.href='@Url.Action("DeleteVenues", "Venues")'">Delete Venue</button>

    <div class="venueDiv" id="addVenue" style="display:block">
        <h3>Add Venue</h3>
        <hr />
        @using (Html.BeginForm("AddVenues", "Venues", FormMethod.Post))
        {

            @Html.LabelFor(m => m.Venue.VenueName, "Name")<br />
            @Html.TextBoxFor(m => m.Venue.VenueName, new { @required = true })<br />
            @Html.LabelFor(m => m.Venue.Address, "Address")<br />
            @Html.TextBoxFor(m => m.Venue.Address, new { @required = true })<br />
            @Html.LabelFor(m => m.Venue.City, "City")<br />
            @Html.TextBoxFor(m => m.Venue.City, new { @required = true })<br />
            @Html.LabelFor(m => m.Venue.Country, "Country")<br />
            @Html.TextBoxFor(m => m.Venue.Country, new { @required = true })<br />
            @Html.LabelFor(m => m.Venue.Seats, "Seats")<br />
            @Html.TextBoxFor(m => m.Venue.Seats, new { @required = true })<br />

            <input type="submit" value="Add" />
            <hr />
        }

    </div>
</div>
@section Scripts
    {
    <script>
        function edit() {
            var edit = document.getElementById("editVenue");
            var add = document.getElementById("addVenue");
            var del = document.getElementById("deleteVenue");

            if (edit.style.display === "none") {
                edit.style.display = "block";
                add.style.display = "none";
                del.style.display = "none";
            }

        }
        function add() {
            var add = document.getElementById("addVenue");
            var edit = document.getElementById("editVenue");
            var del = document.getElementById("deleteVenue");

            if (add.style.display === "none") {
                add.style.display = "block";
                edit.style.display = "none";
                del.style.display = "none";
            }

        }
        function del() {
            var del = document.getElementById("deleteVenue");
            var add = document.getElementById("addVenue");
            var edit = document.getElementById("editVenue");

            if (del.style.display === "none") {
                del.style.display = "block";
                add.style.display = "none";
                edit.style.display = "none";
            }

        }

        function dropdown(value) {
            window.location.href = "/Venues/DropDownChanged?id=" + value;
        }
    </script>
}