@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Venues"];
}

@model ClassLibrary.Value;


<h1>@ViewBag.Message</h1>
<div id="content">
    <button onclick="location.href='@Url.Action("AddVenues", "Venues")'">@Localizer["AddVenue"]</button>
    <button type="button" onclick="location.href='@Url.Action("EditVenues", "Venues")'">@Localizer["EditVenue"]</button>
    <button>Delete Venue</button>

    <div class="venueDiv" id="deleteVenue" style="display:block">
        <hr />
        <h3>@Localizer["DeleteVenue"]</h3>
        <hr />
        @using (Html.BeginForm("DeleteVenues", "Venues", FormMethod.Post))
        {
            @Html.DropDownList(
            "id", 
            new SelectList(Model.Venues.Select(x => new { Value = x.VenueId, Text = x.VenueName }),
            "Value", "Text"), "- Select Venue")

            <input type="submit" value=@Localizer["Delete"] style="background-color:red" />
        }
        <hr />
    </div>
</div>
}