@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Venues"];
}

@model ClassLibrary.Value;


<h1>@ViewBag.Message</h1>
<div id="content">
    <button onclick="location.href='@Url.Action("AddVenues", "Venues")'">@Localizer["AddVenue"]</button>
    <button onclick="location.href='@Url.Action("EditVenues", "Venues")'">@Localizer["EditVenue"]</button>
    <button onclick="location.href='@Url.Action("DeleteVenues", "Venues")'">@Localizer["DeleteVenue"]</button>
</div>
