@{
    ViewData["Title"] = "Venues";
}

@model ClassLibrary.Value;


<h1>@ViewBag.Message</h1>
<div class="venueDiv">
    <h3 style="margin-top:0px">Delete Venue</h3>
    <hr />
    @using (Html.BeginForm("DeleteVenue", "Venues", FormMethod.Post))
    {
        @Html.DropDownList(
                                        "id",
                                        new SelectList(Model.Venues.Select(x => new { Value = x.VenueId, Text = x.VenueName }),
                                        "Value",
                                        "Text"))

        <input type="submit" value="Delete" style="background-color:red" />
    }
    <hr />
</div>


<div class="venueDiv">
    <h3 style="margin-top:0px">Add Venue</h3>
    <hr />
    @using (Html.BeginForm("AddVenue", "Venues", FormMethod.Post))
    {

        @Html.LabelFor(m => m.Venue.VenueName, "Name")<br />
        @Html.TextBoxFor(m => m.Venue.VenueName, new { @required = true })<br />
        @Html.LabelFor(m => m.Venue.Address, "Address")<br />
        @Html.TextBoxFor(m => m.Venue.Address, new { @required = true })<br />
        @Html.LabelFor(m => m.Venue.City, "City")<br />
        @Html.TextBoxFor(m => m.Venue.City, new { @required = true })<br />
        @Html.LabelFor(m => m.Venue.Country, "Country")<br />
        @Html.TextBoxFor(m => m.Venue.Country, new { @required = true })<br />
        @Html.LabelFor(m => m.Venue.Seats, "Seats")<br />
        @Html.TextBoxFor(m => m.Venue.Seats, new { @required = true })<br />

        <input type="submit" value="Add" />
        <hr />
    }

</div>
<div class="venueDiv">
    <h3 style="margin-top:0px">Edit Venue</h3>
    <hr />
</div>
