@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Venues"];
}

@model ClassLibrary.Value;


<h1>@ViewBag.Message</h1>
<div id="content">
    <button onclick="location.href='@Url.Action("AddVenues", "Venues")'">@Localizer["Add Venue"]</button>
    <button onclick="location.href='@Url.Action("EditVenues", "Venues")'">Edit Venue</button>
    <button onclick="location.href='@Url.Action("DeleteVenues", "Venues")'">Delete Venue</button>
</div>
