@model ClassLibrary.Value;

@{
    ViewData["Title"] = "Events";
}
<style type="text/css">
    #wrap {
        width: 1000px;
    }

    .left {
        width: 480px;
        float: left;
        text-align: center;
    }

    .right {
        width: 480px;
        float: right;
        text-align: center;
    }
</style>
<style>
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

    table#jam tr:nth-child(even) {
        background-color: #eee;
    }

    table#jam tr:nth-child(odd) {
        background-color: #fff;
    }

    table#jam th {
        background-color: black;
        color: white;
    }
</style>
@*@using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer*@

<h1>@ViewBag.Message</h1>
<div id="content">
    <button onclick="location.href='@Url.Action("GetEvents", "Home")'">Select Event</button>
    <button type="button" onclick="location.href='@Url.Action("GetAllEventDates", "Home")'">Select EventDate</button>
    @*<button onclick="location.href='@Url.Action("GetAllVenues", "Home")'">Select Arena</button>*@




    <div class="venueDiv" id="getEvent" style="display:none">
        <h3>Get Events</h3>
        <hr />
        @using (Html.BeginForm("GetEvents", "Home", FormMethod.Get))
        {
            <tr>
                @*Dessa ska bort när looen är klar.*@
                <td>@Html.LabelFor(m => m.Venue.VenueName, "Name")</td>
                <td>Frölunda - Luleå</td>
                <td>Scandinavium</td>
                <td>2018-03-05</td>
                <td>26</td>
                <td align='center'><form><input type=submit value="Buy" label="Buy" style="width:100%"></form></td>
            </tr>
        }
        <hr />
    </div>
</div>
<tr>
    @*Dessa ska bort när looen är klar.*@
    <td>2</td>
    <td>Frölunda - Luleå</td>
    <td>Scandinavium</td>
    <td>2018-03-05</td>
    <td>26</td>
    <td align='center'><form><input type=submit value="Buy" label="Buy" style="width:100%"></form></td>
</tr>

@*<div class="venueDiv" id="getEventDate" style="display:none">
    <h3>Choose Event Date</h3>
    <hr />
    @using (Html.BeginForm("GetAllEvents", "Home", FormMethod.Get))
    {*@
@*@Html.DropDownList(
    "id",
    new SelectList(Model.TicketEventDate.Select(x => new { Value = x.EventStartDateTime, Text = x.EventStartDateTime }),
    "Value",
    "Text"), "- Select Event")*@

@*@Html.ListBoxFor(model => model.Events, "id", new MultiSelectList(Model.TicketEvent, "Value", "Text"), new { SelectionMode = "Single" })*@

@*//< input type = submit" value="Get" style="background - color:green" />

    < hr />
            </ div >*@


@*<div class="venueDiv" id="getEvent" style="display:none">
        <h3>Select Arena</h3>
        <hr />
        @using (Html.BeginForm("GetAllVenues", "Home", FormMethod.Get))
        {
            @Html.DropDownList(
                                                                              "id",
                                                                              new SelectList(Model.Venues.Select(x => new { Value = x.VenueName, Text = x.VenueName }),
                                                                              "Value",
                                                                              "Text"), "- Select Event")

            <input type="submit" value="Get" style="background-color:green" />
        }
        <hr />
    </div>*@


@section Scripts
    {
    <script>
        function dropdown(value) {
            window.location.href = "/Shop/DropDownChanged?id=" + value;
        }
    </script>
}
