@model ClassLibrary.Value;

@*@using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer*@
@{
    var db = Model.EventSummaries;

}
<html>
<body>
    <div id="content">



        <h1>Ticketshop</h1>
        <table border="1" width="100%">

            @using (Html.BeginForm("Checkout", "Checkout"))
            {
                <tr>
                    <th>ID</th>
                    <th>Event</th>
                    <th>Venue</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Choose Ticket</th>
                </tr>
                @foreach (var row in db)
                {
                    <tr>
                        <td>@row.TicketEventDateID</td>
                        <td>@row.EventName</td>
                        <td>@row.VenueName</td>
                        <td>@row.EventHtmlDescription</td>
                        <td>@row.EventStartDateTime</td>
                        <td><button id="@row.TicketEventDateID" type="submit" onclick="location.href='@Url.Action("TicketsAdd", "Tickets")'" value="@row.TicketEventDateID" name="buttonclick">Add to cart</button></td>
                    </tr>

                }
            }
        </table>
        @*@using (Html.BeginForm("Checkout", "Checkout", Model.EventSummaries))
        {
            <td><button id="2" style="width:100%" onclick="location.href='@Url.Action("Checkout", "Checkout")'" value="2" name="Cart" type="submit">Go To Cart</button></td>

        }*@
    </div>

    </body>
</html>

@*<h1>@ViewBag.Message</h1>
    <div id="content">

        @*<div class="venueDiv" id="getEvent" style="display:block">*@
@*<h3>Get Events</h3>*@



@section Scripts
    {
    <script>
        function dropdown(value) {
            window.location.href = "/Shop/DropDownChanged?id=" + value;
        }
    </script>
}