@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model ClassLibrary.Value;

@{
    var db = Model.EventSummaries;

}

<div id="content">

    <h1 style="font-family: 'Agency FB'">@Localizer["Ticketshop"]</h1>
    <hr />
    @using (Html.BeginForm("Search", "Tickets"))
    {
        <input type="search" id="searchTextBox" name="searchText" />
        <input type="submit" id="searchBtn" value=@Localizer["Search"] />
    }
    <table id="shoppingCartTable">

        @using (Html.BeginForm("Checkout", "Checkout"))
        {
            <tr>
<<<<<<< HEAD
                <th>Event</th>
                <th>Venue</th>
                <th>Information</th>
                <th>Date</th>
                <th>Choose Ticket</th>
=======
                <th>@Localizer["Event"]</th>
                <th>@Localizer["Venue"]</th>
                <th>@Localizer["Description"]</th>
                <th>@Localizer["Date"]</th>
                <th>@Localizer["ChooseTicket"]</th>
>>>>>>> upstream/master
            </tr>
            @foreach (var row in db)
            {
                <tr>
                    <td>@row.EventName</td>
                    <td>@row.VenueName</td>
                    <td>@row.EventHtmlDescription</td>
                    <td>@row.EventStartDateTime</td>
                    <td id="btnTD"><button class="addToCartBtn" type="submit" value="@row.TicketEventDateID" name="buttonclick">@Localizer["Buy"]</button></td>
                </tr>

            }
        }
    </table>
</div>




@section Scripts
    {
    <script>
        function dropdown(value) {
            window.location.href = "/Shop/DropDownChanged?id=" + value;
        }

        
    </script>
}