@model ClassLibrary.Value;

@{
    ViewData["Title"] = "Events";
}

@*@using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer*@

<h1>@ViewBag.Message</h1>
<div id="content">

    <div class="venueDiv" id="getEvent" style="display:block">
        <hr />
        <table>
            @foreach (ClassLibrary.EventSummary x in Model.EventSummaries)
            {
                <tr>
                    <td>@x.EventName</td>
                    <td>@x.EventHtmlDescription</td>
                    <td>@x.EventStartDateTime</td>
                    <td>@x.VenueName</td>
                    <td>
                        
                        <a href="/Tickets/TicketsAdd?id=@x.TicketEventDateID"> ADD</a>

                </tr>

            }
            </table>
            <h3>@ViewBag.Message</h3>
    </div>
</div>
