@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model ClassLibrary.Value;

@{
    var db = Model.EventSummaries;

}

<div id="content">

    <h1 style="font-family: 'Agency FB'">@Localizer["Ticketshop"]</h1>
    <hr />
    @using (Html.BeginForm("Search", "Tickets"))
    {
        <input type="search" id="searchTextBox" name="searchText" />
        <input type="submit" id="searchBtn" value=@Localizer["Search"] />
    }
   
        <div id="information">@ViewBag.InfoMessage </div>
    <table id="shoppingCartTable">

        @using (Html.BeginForm("Checkout", "Checkout"))
        {
            <tr>
                <th>@Localizer["Info"]</th>
                <th>@Localizer["Event"]</th>
                <th>@Localizer["Venue"]</th>
                <th>@Localizer["Date"]</th>
                <th>@Localizer["ChooseTicket"]</th>

            </tr>

            @foreach (var row in db)
            {
                <tr>
                    <td id="infoTD"><a id="infoLink" href="/Tickets/ShowInfo?id=@row.TicketEventDateID" data-assigned-id="@row.TicketEventDateID" >            @Localizer["i"]</a></td>

                    <td>@row.EventName</td>
                    <td>@row.VenueName</td>
                    <td>@row.EventStartDateTime</td>
                    <td><button class="addToCartBtn" type="submit" value="@row.TicketEventDateID" name="buttonclick">@Localizer["Buy"]</button></td>
                </tr>
     
            }
        }
    </table >
   
</div>





@section Scripts
    {
    <script>
        function dropdown(value) {
            window.location.href = "/Shop/DropDownChanged?id=" + value;
        }

        function whatsup(elem) {
          
        }
    </script>
}
