@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["AddTicketEventDates"];
}

@model ClassLibrary.Value;


<center><h1>@Localizer["AddTicketEventDates"]</h1></center>
<div class="venueDiv" id="CreateTicketEventDate" style="display:block">
    @using (Html.BeginForm("CreateTicketEventDate", "TicketEventDates", FormMethod.Post))
    {
        @Html.DropDownList("eventID", new SelectList(Model.Events.Select(x => new { Value = x.TicketEventId, Text = x.EventName }), "Value", "Text"), "- Select Event")

        @Html.DropDownList("venueID", new SelectList(Model.Venues.Select(x => new { Value = x.VenueId, Text = x.VenueName }), "Value", "Text"), "- Select Venue")

        @Html.TextBox("dateTime", Model.TicketEventDate, new { @class = "datepicker", @type = "datetime-local" })

        <input type="submit" value=@Localizer["Add"] />
    }
</div>

<table id="shoppingCartTable" align="center" style=" width:80%">

    <tr>
        <th>@Localizer["Event"]</th>
        <th>@Localizer["Venue"]</th>
        <th>@Localizer["Description"]</th>
        <th>@Localizer["Date"]</th>
        <th></th>
    </tr>
    @foreach (var row in Model.EventSummaries)
    {
        <tr>
            <td>@row.EventName</td>
            <td>@row.VenueName</td>
            <td>@row.EventHtmlDescription</td>
            <td>@row.EventStartDateTime</td>
        </tr>
    }
</table>







