
@{
    ViewData["Title"] = Localizer["DeleteTicketEventDate"];
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model ClassLibrary.Value;

<center><h2>@Localizer["DeleteTicketEventDate"]</h2></center>

<table id="shoppingCartTable" align="center" style=" width:80%">

    <tr>
        <th>@Localizer["Event"]</th>
        <th>@Localizer["Venue"]</th>
        <th>@Localizer["Description"]</th>
        <th>@Localizer["Date"]</th>
        <th></th>
    </tr>
    @using (Html.BeginForm("RemoveTicketEventDate", "TicketEventDates", FormMethod.Post))
    {
        @foreach (var row in Model.EventSummaries)
        {
            <tr>
                <td>@row.EventName</td>
                <td>@row.VenueName</td>
                <td>@row.EventHtmlDescription</td>
                <td>@row.EventStartDateTime</td>
                <td><button type="submit" name="id" style="background-color:crimson" value=@row.TicketEventDateID>@Localizer["Delete"]</button></td>
            </tr>
        }
    }
</table>

