@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["TicketEventDate"];
}

@model ClassLibrary.Value;

<center><h1>@Localizer["TicketEventDate"]</h1></center>

<div id="content">
    <button onclick="location.href='@Url.Action("AddTicketEventDate", "TicketEventDates")'">@Localizer["AddTicketEventDates"]</button>
    <button onclick="location.href='@Url.Action("DeleteTicketEventDate", "TicketEventDates")'">@Localizer["DeleteTicketEventDates"]</button>
</div>