
@{
    ViewData["Title"] = "CustomerInfo";
}
@model ClassLibrary.Value;

<center><h2>CustomerInfo</h2></center>

<table id="shoppingCartTable" align="center" style=" width:80%">
    <tr>
        <th>Event</th>
        <th>Venue</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
    </tr>
    @foreach (var row in Model.EventSummaries)
    {
        <tr>
            <td>@row.EventName</td>
            <td>@row.VenueName</td>            
            <td>@row.EventStartDateTime</td>
        </tr>
    }
</table>

    @*@foreach (var row in Model.EventSummaries)
        {
            @using (Html.BeginForm("RemoveCustomerTicket", "Customers", FormMethod.Post))
            {
                <table align="center">
                    <tr>
                        <td>@row.EventName</td>
                        <td>@row.VenueName</td>
                        <td>@row.EventHtmlDescription</td>
                        <td>@row.EventStartDateTime</td>
                    </tr>
                </table>
                <center><button type="submit" name="id" style="color:crimson" value=@row.TicketEventDateID>Delete</button></center>
            }
            <br />
        }*@


