@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["CustomerInfo"];
}

@model ClassLibrary.Value;

<center><h2>@Localizer["CustomerInfo"]</h2></center>

<table id="shoppingCartTable" align="center" style=" width:80%">
    <tr>
        <th>@Localizer["Event"]</th>
        <th>@Localizer["Venue"]</th>
        <th>@Localizer["Description"]</th>
        <th>@Localizer["Date"]</th>
        <th></th>
    </tr>
    @foreach (var row in Model.EventSummaries)
    {
        <tr>
            <td>@row.EventName</td>
            <td>@row.VenueName</td>
            <td>@row.EventStartDateTime</td>
        </tr>
    }
</table>



