@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["FindCustomer"];
}
@model ClassLibrary.Value;
<center><h2>@Localizer["FindCustomer"]</h2></center>

<div class="venueDiv" id="CreateTicketEventDate" style="display:block">
    @using (Html.BeginForm("FindCustomer", "Customers", FormMethod.Get))
    {
        @Html.TextBox("SearchString")
        <input type="submit" value=@Localizer["Search"] />
    }
</div>

<div class="venueDiv" style="display:block">

    @foreach (var customer in Model.TicketTransaction)
    {
        @using (Html.BeginForm("CustomerInfo", "Customers", FormMethod.Post))
        {
            <adress>
                <b>@customer.BuyerFirstName  @customer.BuyerLastName</b><br />
                <b>@customer.BuyerAddress</b><br />
                <b>@customer.BuyerCity</b><br />
            </adress>
            <button type="submit" name="id" style="background-color:goldenrod" value=@customer.TransactionID>INFO</button>
        }
    }

</div>





